$background-navcolor:  #015584;


.navbar {
    background-color: $background-navcolor;
}
#logo{
    float: left;
    color: white;
    font-size: 1.7em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -1px;
    transition: all 0.5s ease 0s;
}
#logo:hover{
    color:grey;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}