@import url('https://fonts.googleapis.com/css?family=Raleway');
$background-navcolor:  #015584;

.navbar {
  background-color: $background-navcolor;
  font-family: 'Raleway', sans-serif;
}
#logo{
    float: left;
    color: white;
    font-size: 1.7em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -1px;
    transition: all 0.5s ease 0s;
}

#logo:hover{
    color:grey;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}

.navbar-nav > li > a.navlinks{
    color: white;
  }